*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

html{
	scroll-behavior: smooth;

}

body{
	background-image: url("../images/archi-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	position: relative;

}


.container-fluid{

	margin: 0 auto;
	padding: 0;

}

nav{
	z-index: 10;
}

.navbar-brand{
	font-size: 35px;
}

.banner{
	background-image: url("../images/archi-banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	position: relative;
}

.box{
	background-color: rgb(255,255,255, 0.8);
	text-align: center;
	min-width: 50%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); /*x and y values*/  
	border-radius: 12px;
	color: black;

}

.box h1{
	font-size: 70px;
}

.box p{
	font-size: 40px;
}

hr{
	border: 3px solid #292F36;
  	border-radius: 5px;

}

p{
	font-size: 21px;
}

ul li{
	font-size: 21px;
}

img{
	width: 100%;
	border-radius: 5px;
}

.card img{
	min-height: 200px; 
	max-height: 200px; 
}

.carousel-inner img{
	width: 100%;
	min-height: 200px;
	max-height: 80vh;
}

.container{
	
	background-color: rgb(255,255,255, 0.8);
	padding: 0;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	min-height: 50vh;
	border-radius: 10px;

}

.right .row  img{
	height: 1000px;
}


.content{
	margin: 30px;

}

button{
	margin: 20px;
	
	float: right; 

}

iframe{
	width: 100%;

}

header img{
	height: 91vh;
}

.row{
	padding-top: 40px;

}

.mission-vision{
	margin-top: 20px;

}


footer{
	height: 20vh;
	width: 100%;
	background-color: rgb(18, 17, 19, 0.9);

}

.footer-content{
	color: white;
	text-align: center;
	font-size: 30px;
}

.footer-content a:visited, i{
	color: white;
	font-size: 40px;
}

#right .row{
	padding-top: 0;
	padding-bottom: 30px;

}

#accordion a{
	color: black;
	text-decoration: none;

}

.contact-us{
	border: 2px solid black;

}






