*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Bungee', cursive;

}

body{
	background-image: url("../images/landing-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	position: relative;

}

.container{
	width: 900px;
	margin: 0 auto;
	background-color: rgb(225, 222, 229, 0.8);
	padding: 0;

}





main{
	margin-top: 20px;

}

.row{
	margin-top: 40px;

}

img{
	width: 100%;
	border-radius: 10px;
}

main h1{
	font-size: 40px;

}

main p{
	font-size: 23px;
	
}





footer{
	height: 20vh;
	width: 100%;
	background-color: #000;
	margin-top: 20px;
	text-align: center;

}





